<h1>User: <%= @report_user.name %></h1>
<div class="span6">
  <table class="table table-striped table-bordered">
    <tr><td>Name</td><td><%= @report_user.name  %></td></tr>
    <tr><td>Email</td><td><%= @report_user.email  %></td></tr>
    <tr><td>Phone</td><td><%= @report_user.phone  %></td></tr>
    <tr><td>Receive Mail?</td><td><%= @report_user.receive_mail?  %></td></tr>
    <tr><td>Receive SMS?</td><td><%= @report_user.receive_sms?  %></td></tr>
  </table>
  <%= link_to 'All Report Users', report_users_path %>
</div>
