<h1>Product Prices </h1>

<table class="table table-striped">
	<tr>
		<th>Product</th>
		<th>Old Price</th>
		<th>New Price</th>
		<th>Date Changed</th>
		<th>Changed By</th>
	</tr>
	<% @product_prices.each do |price| %>
		<tr>
			<td><%= link_to price.product.name, product_price_path(price)  %></td>
			<td><%= price.old_price %></td>
			<td><%= price.new_price %></td>
			<td><%= price.created_at.strftime("%d/%m/%Y") %></td>
			<td><%= price.user_id %></td>
		</tr>

	<% end %>
</table>

