

<div class = 'form-horizontal span6 well'>
  <%= simple_form_for(@user) do |f| %>
    
    <%= render partial: 'layouts/error', object: @user %>

    <%= f.input :username %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>

    <!--%= f.input :roles, label: 'Role', collection: User.valid_roles.map { |s| [s.to_s.humanize, s] } %-->

    <% if current_user.has_role? :super_admin %>
      <%= f.input :roles, label: 'Role', collection: User.get_roles(true) %>
    <% else %>
      <%= f.input :roles, label: 'Role', collection: User.get_roles(false) %>
    <% end %>
    <!--%= f.input :roles_mask, label: 'Role', collection: User.valid_roles, label_method: User.roles_as_string, 
        value_method: User.valid_roles %-->
    <!--%= f.collection_select :roles_mask, User.valid_roles, :to_s, :humanize %-->
    
  

    
    <div class="form-actions">
      <%= f.submit "Save", class: 'btn btn-primary' %>
      <%= link_to 'Back', users_path, class: 'btn btn-inverse' %>
    </div>
  <% end %>
</div>