<h1>Dipping for: <%= @dipping_history.tank.name %></h1>
<div class="span6">
	<table class="table table-striped table-bordered">
		<tr><td>Code</td><td><%= @dipping_history.tank.code %></td></tr>
		<tr><td>Measured Volume</td><td><%= @dipping_history.measured_volume %></td></tr>
		<tr><td>Date Measured</td><td><%= @dipping_history.measurement_date %></td></tr>

	</table>
	<%= link_to 'All Dipping Histories', dipping_histories_path %>
</div>