<h1>Waybill Approval</h1>

<table class="table table-striped">
	<tr>
		<th>Waybill #</th>
		<th>Station</th>
		<th>Product</th>
		<th>Qty Supplied</th>
		<th>Date Supplied</th>
		<th>Appoved?</th>
		<th></th>
	</tr>
	<% @waybill_approvals.each do |waybill|  %>
		<tr>
			<td><%= link_to waybill.waybill_number, waybill_approval_path(waybill) %></td>
			<td><%= waybill.station.name  %></td>
			<td><%= waybill.product.name %></td>
			<td><%= waybill.quantity_supplied %></td>
			<td><%= waybill.date_supplied %></td>
			<td><%= waybill.approved? %></td>
			<td><%= link_to raw('<i class="icon-ok"></i>'), edit_waybill_approval_path(waybill), class: 'btn btn-info' %> |
          <%= link_to raw('<i class="icon-remove"></i>'), waybill, class: 'btn btn-warning' %></td>
		</tr>
	<% end %>
</table>
