<div class = 'form-horizontal span6'>
	<%= simple_form_for @waybill do |f| %>
		<!--%= render partial: 'layouts/error', object: @employee %-->

		<fieldset>
			<legend>Basic Information</legend>
			<%= f.association :station %>
			<%= f.association :supplier %>
		</fieldset>

		<fieldset>
			<legend>Supply Details</legend>
			<%= f.input :waybill_number, placeholder: 'Waybill Number', label: 'Waybill #' %>
			<%= f.input :description, as: :text, input_html: { rows: 3 }  %>
			<%= f.input :date_supplied %>
		</fieldset>

		<fieldset>
			<legend>Product Quantity</legend>
			<%= f.association :product %>
			<%= f.input :quantity_supplied %>
		</fieldset>

		<fieldset>
			<legend>Tanker Details</legend>
			<%= f.input :tanker_driver, placeholder: 'Tanker Driver Name', label: 'Tanker Driver' %>
			<%= f.input :tanker_plate_no, placeholder: 'Tanker Plate No.', label: 'Tanker Plate No.' %>
			<%= f.input :tanker_registration, placeholder: 'Tanker Registration', label: 'Tanker #' %>
		</fieldset>
			
		 <div class="form-actions">
		    <%= f.submit "Save", class: 'btn btn-primary' %>
		    <%= link_to 'Back', waybills_path, class: 'btn btn-inverse' %>
		  </div>	

	<% end %>
</div>