<h1>Sales</h1>

<table class = "table table-striped">
	<tr>
		<!--th>#</th-->
		<th>Pump</th>
		<th>Station</th>
		<th>Product</th>
		<th>Opening Reading</th>
		<th>Closing Reading</th>
		<th>Liters Sold</th>
		<th>Sales Date</th>
		<th>SalesPeriod</th>
		<th><%= link_to raw('<i class="icon-plus icon-white"></i> Add'), new_sale_meter_reading_path, class: "btn btn-inverse" %></th>
	</tr>

	<% @sale_meter_readings.each do |sale| %>
		<tr>
			<!--td><%= link_to sale.sales_reference_no, sale_meter_reading_path(sale) %></td-->
			<td><%= sale.pump.name %></td>
			<td><%= sale.pump.tank.station.name %></td>
			<td><%= sale.pump.tank.product.name %></td>
			<td><%= sale.opening_reading %></td>
			<td><%= sale.closing_reading %></td>
			<td><%= sale.liters_sold %></td>
			<td><%= sale.sales_date %></td>
			<td><%= sale.sales_period.name %></td>
			<td><%= link_to raw('<i class="icon-edit"></i>'), edit_sale_meter_reading_path(sale), class: 'btn btn-success' %> |
          <%= link_to raw('<i class="icon-trash"></i>'), sale, :confirm => 'Are you sure?', :method => :delete, class: 'btn btn-danger' %></td>
		</tr>
	<% end %>
</table>

