<div class = 'form-horizontal span6'>
	<%= simple_form_for @supplier do |f| %>
		<!--%= render partial: 'layouts/error', object: @employee %-->

		<fieldset>
			<legend>Basic Information</legend>
			<%= f.input :name, placeholder: 'Company Name' %>
			<%= f.input :contact, placeholder: 'Contact Person Name' %>
			<%= f.input :address, placeholder: 'Address', as: :text, input_html: { rows: 5 } %>
			<%= f.input :mobile, placeholder: 'Mobile' %>
			<%= f.input :phone, placeholder: 'Phone' %>
			<%= f.input :email, placeholder: 'Email' %>
		</fieldset>
		
		
		
		 <div class="form-actions">
		    <%= f.submit "Save", class: 'btn btn-primary' %>
		    <%= link_to 'Back', suppliers_path, class: 'btn btn-inverse' %>
		  </div>	

	<% end %>
</div>