<!DOCTYPE html>
<html>
<head>
  <title>iCount</title>
  <!--%= stylesheet_link_tag    "application", :media => "all" %-->
  <%= stylesheet_link_tag "bootstrap.min", :media => "all" %>
  <!--%= stylesheet_link_tag "bootstrap.min", "flat-ui", :media => "all" %-->
  <!--%= stylesheet_link_tag "toastr", :media => "all" %-->
  <%= javascript_include_tag "application" %>
  <!--%= custom_bootstrap_flash %-->
  <%= csrf_meta_tags %>
  <style>
  	body { padding-top: 60px; }
  	i{
  		display: inline-block;
  	}
  </style>
</head>
<body>
	<div class="navbar navbar-fixed-top navbar-inverse">
	<!--div class="navbar navbar-fixed-top"-->
	  <div class="navbar-inner">
	    <div class="container">
	      <a class="brand" href="/"><%= image_tag("logo.png", alt: "iCount", class: "pull-right") %>
</a>
	      <!--ul class="nav">
	        <li class="active"><a href="#"></a></li>
	      </ul-->
	      <p class="navbar-text pull-right">
	        <% if user_signed_in? %>
	          Logged in <strong><i class="icon-user"></i><%= current_user.username %></strong>.
	          <!--%= link_to 'Edit profile', edit_user_password_path(current_user), :class => 'navbar-link' %--><a href="#">Edit Profile</a> |
	          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
	        <% else %>
	          <!--%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |-->
	          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
	        <% end %>
	      </p>

	    </div>
	  </div>
	</div>

	<!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>  -->


	<div class="container-fluid">
		<%= gflash %>
		<div class="row-fluid">

			<!-- display menu if user is authenticated -->
			<% if user_signed_in? %>
				<%= render 'layouts/navigation' %>
				<!--div class="span10 well"-->
				<div class="span10">
					<%= yield %>
				</div>
			<% else %>
				<%= yield %>
			<% end %>
		</div>
	</div>

	<footer>
	  <div class="container">
	    
	  </div>
	</footer>


</body>
</html>
