<h3>Accounts</h3>

<table class="table table-striped">
  <tr>

    <th>Name</th>
    <th>Subdomain</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Website</th>
    <th>Address</th>
    <th><%= link_to raw('<i class="icon-plus icon-white"></i> Add'), new_account_path, class: "btn btn-inverse" %></th>
  </tr>

  <% @accounts.each do |account| %>
    <tr>
      <td><%= link_to account.name, account_path(account) %></td>
      <td><%= account.subdomain %></td>
      <td><%= account.email %></td>
      <td><%=  account.phone %></td>
      <td><%=  account.website %></td>
      <td><%=  account.address %></td> 
      <% if account.name != "GAL" %>
          <td><%= link_to raw('<i class="icon-edit"></i>'), edit_account_path(account), class: "btn btn-success" %> 
            | <%= link_to raw('<i class="icon-trash"></i>'), account, :confirm => 'Are you sure?', :method => :delete, class: "btn btn-danger" %>
          </td>
      <% end -%>

      
    </tr>
  <% end %>
</table>

<br />